@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$black: #000000;
$dark-level-1: #1a1a1a;
$dark-level-2: #333333;

$white: #ffffff;
$light-level-1: #e6e6e6;
$light-level-2: #cccccc;

$main: #ffbc1f;
$dark-main: #ffe7ad;
$light-main: #ffbc1f;

.light-bg {
	background-color: $light-level-1;
	color: $black;

	::selection {
		background-color: $black;
		color: $white;
	}

	.button_mode {
		background-color: $black;
		color: $white;
	}

	.searchbox {
		background-color: $white;
		color: $black;
	}

	.infobox {
		background-color: $white;
	}

	.textbox {
		background-color: $white;
	}

	.recommended_book {
		background-color: $white;
		border: solid 1px $light-level-1;
	}
}

.dark-bg {
	background-color: $dark-level-1;
	color: $white;

	::selection {
		background-color: $white;
		color: $black;
	}

	.button_mode {
		background-color: $white;
		color: $black;
	}

	.searchbox {
		background-color: $dark-level-2;
		color: $white;
	}

	.infobox {
		background-color: $dark-level-2;
	}

	.textbox {
		background-color: $dark-level-2;
	}

	.recommended_book {
		background-color: $dark-level-2;
		border: solid 1px $dark-level-1;
	}
}

html {
	@extend %flex;

	width: 100%;

	font-family: "Poppins", sans-serif;
	font-size: 16px;

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
	}

	body {
		@extend %flex;

		width: 100%;

		.body {
			@extend %flex;

			flex-direction: column;

			min-width: 18rem;
			max-width: 84rem;

			overflow-wrap: break-word;

			.app {
				@extend %flex;

				flex-direction: column;

				width: 100%;
				padding-bottom: 2rem;

				.heading {
					margin-top: 2rem;
					margin-bottom: 1rem;

					font-size: 2rem;
					font-weight: bolder;
				}

				.button_mode {
					@extend %rounded, %shadow-small;

					width: 2rem;
					height: 2rem;

					margin-bottom: 4rem;
					border-style: none;
				}

				.button_mode:hover {
					cursor: pointer;
				}

				.mainbox {
					@extend %flex;

					flex-direction: column;

					width: 100%;

					margin: 1rem;
					margin-bottom: 2rem;

					.buttonbox {
						@extend %flex;

						min-width: 18rem;
						max-width: 40rem;

						.button_engine {
							@extend %rounded, %shadow-small, %p-m;

							width: 9rem;
							margin-left: 0.5rem;
							margin-right: 0.5rem;

							border-style: none;

							color: $black;
							background-color: $dark-main;
						}

						.button_active {
							@extend %rounded, %shadow-big, %p-m;

							border-style: none;

							font-weight: bold;

							color: $black;
							background-color: $main;

							transition: all 150ms;
						}

						.button_engine:hover,
						.button_active:hover {
							color: $black;
							background-color: $light-main;

							cursor: pointer;
							transition: all 150ms;
						}
					}

					.form {
						@extend %flex;

						align-items: flex-end;

						min-width: 18rem;
						max-width: 40rem;

						margin-top: 1rem;

						.main {
							@extend %flex;

							flex-direction: column;
							justify-content: flex-start;

							label {
								padding: 1rem;
								padding-bottom: 0px;
							}

							.searchbox {
								@extend %rounded, %shadow-big, %p-m;

								width: 16rem;

								margin-left: 0.5rem;
								margin-right: 0.5rem;
								border-style: none;

								font-weight: bold;
							}
						}

						.button_search {
							@extend %rounded, %shadow-big, %p-m;

							width: 6rem;
							border-style: none;

							font-weight: bold;

							color: $black;
							background-color: $main;
						}

						.button_search:hover {
							border-style: none;

							color: $black;
							background-color: $light-main;

							cursor: pointer;
							transition: all 150ms;
						}
					}
				}

				.emancipationbox {
					@extend %flex;

					justify-content: center;

					min-width: 18rem;

					.paintingbox {
						@extend %rounded, %shadow-big;

						width: 100%;

						margin: 1rem;

						img {
							width: 100%;
							height: auto;

							border-top-left-radius: 1.5rem;
							border-top-right-radius: 1.5rem;
						}

						.infobox {
							@extend %flex;

							justify-content: flex-start;

							padding: 1rem;
							border-bottom-left-radius: 1.5rem;
							border-bottom-right-radius: 1.5rem;

							.painter {
								font-size: 1.25rem;
								font-weight: bold;
							}
							.artwork {
								margin-left: 0.25rem;
							}
						}
					}

					.textwall {
						@extend %flex;

						flex-direction: column;

						width: 100%;

						padding: 1rem;
						margin: 1rem;

						.textbox {
							@extend %p-m, %rounded, %shadow-big;

							width: 100%;

							.philosopher,
							.poet,
							.author {
								float: right;

								margin-top: 2rem;

								font-size: 1.25rem;
								font-weight: bold;
							}

							.author,
							.source {
								width: 100%;

								float: left;

								margin-top: 2rem;
							}

							.source {
								margin-top: 0rem;
							}

							.advice {
								font-style: italic;
								margin-bottom: 1rem;
							}

							.recommended_book {
								@extend %flex, %p-m, %rounded, %shadow-big;

								margin: 0.5rem 0rem 0.5rem 0rem;

								.writer {
									font-size: 1.25rem;
									font-weight: bold;
								}

								.book {
									margin-left: 0.25rem;
								}
							}
						}

						.textbox:first-child {
							margin-top: -1rem;
						}
					}
				}
			}
		}
	}
}

//$extra-large: 1900px;
$large: 1200px; // 1200 to inf = desktop
$medium: 900px; // 600 to 1200 = tablet
$small: 600px; // 320 to 600  = mobile

@media only screen and (min-device-width: $large) {
	html {
		body {
			.body {
				.app {
					.mainbox {
						.form {
							.main {
								.searchbox {
									width: 24rem;
								}
							}
						}
					}

					.emancipationbox {
						align-items: flex-start;
						align-self: flex-start;

						width: 100%;

						.paintingbox {
							width: 60%;
						}

						.textwall {
							align-items: flex-start;
							align-self: flex-start;

							width: 30%;
						}
					}
				}
			}
		}
	}
}
