@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$black: #000000;
$dark-level-1: #1a1a1a;
$dark-level-2: #333333;

$white: #ffffff;
$light-level-1: #e6e6e6;
$light-level-2: #cccccc;

$main: #0dccf2;
$dark-main: #076679;
$light-main: #86e5f8;

html {
	@extend %flex;

	width: 100%;

	font-family: "Poppins", sans-serif;
	font-size: 16px;

	background-color: $light-level-1;

	::selection {
		background-color: $black;
		color: $white;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
	}

	body {
		@extend %flex;

		width: 100%;

		.body {
			@extend %flex;

			flex-direction: column;

			min-width: 18rem;
			max-width: 84rem;

			overflow-wrap: break-word;

			.app {
				@extend %flex;

				flex-direction: column;

				width: 100%;
				padding-bottom: 2rem;

				.heading {
					padding-top: 2rem;
					padding-bottom: 4rem;

					font-size: 2rem;
					font-weight: bolder;
				}

				.mainbox {
					@extend %flex;

					flex-direction: column;

					width: 100%;

					margin: 1rem;
					margin-bottom: 2rem;

					.buttonbox {
						@extend %flex;

						min-width: 18rem;
						max-width: 40rem;

						.button_engine {
							@extend %rounded, %shadow-small, %p-m;

							width: 9rem;
							margin-left: 0.5rem;
							margin-right: 0.5rem;

							border-style: none;

							color: $white;
							background-color: $dark-main;
						}

						.button_active {
							@extend %rounded, %shadow-big, %p-m;

							border-style: none;

							font-weight: bold;

							color: $black;
							background-color: $main;

							transition: all 150ms;
						}

						.button_engine:hover,
						.button_active:hover {
							color: $black;
							background-color: $light-main;

							cursor: pointer;
							transition: all 150ms;
						}
					}

					.form {
						@extend %flex;

						align-items: flex-end;

						min-width: 18rem;
						max-width: 40rem;

						margin-top: 1rem;

						.main {
							@extend %flex;

							flex-direction: column;
							justify-content: flex-start;

							label {
								padding: 1rem;
								padding-bottom: 0px;
							}

							.searchbox {
								@extend %rounded, %shadow-big, %p-m;

								width: 16rem;

								margin-left: 0.5rem;
								margin-right: 0.5rem;
								border-style: none;

								font-weight: bold;
							}
						}

						.button_search {
							@extend %rounded, %shadow-big, %p-m;

							width: 6rem;
							border-style: none;

							font-weight: bold;

							color: $black;
							background-color: $main;
						}

						.button_search:hover {
							border-style: none;

							color: $black;
							background-color: $light-main;

							cursor: pointer;
							transition: all 150ms;
						}
					}
				}

				.emancipationbox {
					@extend %flex;

					justify-content: center;

					min-width: 18rem;

					.paintingbox {
						@extend %rounded, %shadow-big;

						width: 100%;

						margin: 1rem;

						img {
							width: 100%;
							height: auto;

							border-top-left-radius: 1.5rem;
							border-top-right-radius: 1.5rem;
						}

						.infobox {
							@extend %flex;

							justify-content: flex-start;

							padding: 1rem;
							border-bottom-left-radius: 1.5rem;
							border-bottom-right-radius: 1.5rem;

							background-color: $white;

							.painter {
								font-weight: bold;
							}
							.artwork {
								margin-left: 0.25rem;
							}
						}
					}

					.textwall {
						@extend %flex;

						flex-direction: column;

						width: 100%;

						padding: 1rem;
						margin: 1rem;

						.textbox {
							@extend %p-m, %rounded, %shadow-big;

							width: 100%;

							background-color: $white;

							.philosopher,
							.poet {
								float: right;

								margin-top: 1rem;

								font-weight: bold;
							}
						}

						.textbox:first-child {
							margin-top: -1rem;
						}
					}
				}
			}
		}
	}
}

//$extra-large: 1900px;
$large: 1200px; // 1200 to inf = desktop
$medium: 900px; // 600 to 1200 = tablet
$small: 600px; // 320 to 600  = mobile

@media only screen and (min-device-width: $large) {
	html {
		body {
			.body {
				.app {
					.emancipationbox {
						align-items: flex-start;
						align-self: flex-start;

						width: 100%;

						.paintingbox {
							width: 60%;
						}

						.textwall {
							width: 30%;
						}
					}
				}
			}
		}
	}
}
