<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Sophist Search</title>
		<meta name="description" content="Emancipate yourself while surfing the web!" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Icon made by https://www.flaticon.com/authors/rukanicon -->
		<link rel="icon" href="{{ url_for('static', filename='flaticon.png') }}" />
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='flaticon.png') }}" />

		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.min.css') }}" />
	</head>

	<body>
		<div class="404_div">
			<h1 class="404_h1">404</h1>
			<p class="404_p">Go back to</p>
			<a href="/" class="404_a">Homepage</a>
		</div>
	</body>
</html>
