<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Sophist Search</title>
		<meta name="description" content="Emancipate yourself while surfing the web!" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Icon made by https://www.flaticon.com/authors/rukanicon -->
		<link rel="icon" href="{{ url_for('static', filename='flaticon.png') }}" />
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='flaticon.png') }}" />

		<link defer rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}" />
		<link defer rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}" />
		<link defer rel="stylesheet" href="{{ url_for('static', filename='css/homepage.min.css') }}" />
	</head>

	<body class="light-bg" id="body">
		<div class="body">
			<div class="app">
				<h1 class="heading">Sophist Search :3</h1>
				<button
					type="button"
					aria-label="Toggle dark or light mode"
					class="button_mode"
					id="btn_mode"
					onclick="ChangeMode()"
				>
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
						<path
							id="svg-path"
							fill-rule="evenodd"
							d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
							clip-rule="evenodd"
						/>
					</svg>
				</button>

				<div class="mainbox">
					<div class="buttonbox">
						<button
							type="button"
							aria-label="Choose DuckDuckGo search engine"
							class="button_active button_engine"
							id="btn_ddg"
							onclick="ActivateButton(0)"
						>
							DuckDuckGo
						</button>
						<button
							type="button"
							aria-label="Choose Searx search engine"
							class="button_engine"
							id="btn_srx"
							onclick="ActivateButton(1)"
						>
							Searx
						</button>
						<button
							type="button"
							aria-label="Choose Swisscows search engine"
							class="button_engine"
							id="btn_swc"
							onclick="ActivateButton(2)"
						>
							Swisscows
						</button>
						<button
							type="button"
							aria-label="Choose Ecosia search engine"
							class="button_engine"
							id="btn_eco"
							onclick="ActivateButton(3)"
						>
							Ecosia
						</button>
					</div>
					<form action="" name="search_url" class="form" id="search_form" method="GET">
						<div class="main">
							<label for="searchbox">News? Blogs? Recipes?</label>
							<input name="q" class="searchbox" id="searchbox" />
						</div>
						<input type="submit" value="Surf" class="button_search" id="btn_search" />
					</form>
				</div>

				<div class="emancipationbox">
					<div class="paintingbox">
						<img
							src="{{ url_for('static', filename=url) }}"
							alt="An image of a famous painting. Check paragraphs bellow for more info."
							width="640"
							height="360"
						/>
						<div class="infobox">
							<p class="painter" id="painter">{{ painter }}</p>
							<p class="artwork" id="artwork">- {{ artwork }}</p>
						</div>
					</div>

					<div class="textwall">
						<div class="textbox">
							<p>"{{ quote }}"</p>
							<p class="philosopher">{{ philosopher }}</p>
						</div>
						<div class="textbox">
							<p>"{{ poem }}"</p>
							<p class="poet">{{ poet }}</p>
						</div>
						<div class="textbox">
							<p>"{{ paragraph }}"</p>
							<p class="author">{{ author }}</p>
							<p class="source">{{ source }}</p>
						</div>
						<div class="textbox">
							<p class="advice">Recommended books to read:</p>
							<div class="recommended_book">
								<p class="writer">{{ writer1 }}</p>
								<p class="book">- {{ book1 }}</p>
							</div>
							<div class="recommended_book">
								<p class="writer">{{ writer2 }}</p>
								<p class="book">- {{ book2 }}</p>
							</div>
							<div class="recommended_book">
								<p class="writer">{{ writer3 }}</p>
								<p class="book">- {{ book3 }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>
